<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Users</title>
  </head>
  <body>
    <h1>This is the User List:</h1>
    <div class="userlist">
      {% if users %}
      <ol>
      {% for user in users %}

        <li>User Info</li>
         <ul>
           <li>{{ user.first_name  }}</li>
           <li>{{ user.last_name  }}</li>
           <li>{{ user.email  }}</li>
         </ul>
        
      {% endfor %}
      </ol>
      {% else %}
      <p>No Users Found!!</p>
      {% endif %}

    </div>
    {{ user_dict }}
  </body>
</html>
